@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

//$titleFont: 'Cormorant Garamond', cursive;
$titleFont: 'Palatino', cursive;
$mainFont: 'Raleway', sans-serif;
$mainColor: #9398a2;
$secondaryColor: #949494;
$contrastColor: #939da2;
$lightColor: gainsboro;

h1, h2, h3, h4, h5, h6, p {
	margin: 5px 0px;
	color: $secondaryColor;
}

h1 {
	font-family: $titleFont;
	color: $contrastColor;
	font-weight: 100;
	font-size: 30px;
}

h2 {
	text-align: center;
	font-family: $titleFont;
	letter-spacing: 1;
	color: $contrastColor;
	font-weight: 100;
}

h3, h4, h5, h6, p {
	font-family: $mainFont;
	font-weight: 400;
}

body {
	background: url('../img/subtle_white_feathers.png');
	margin: 0px;
	overflow-x: hidden;
}

*:focus {
	outline: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;

    @media screen and (max-width: 575px){
	    flex-wrap: wrap;
	    text-align: center;

	    .title, .links {
	    	width: 100%;
	    }
    }
}

.title {
	h4 {
	    letter-spacing: 1.7;
	    text-transform: uppercase;
	    font-size: 13px;
	}
}

.links {
	font-size: 24px;

	a {
		color: $contrastColor;
		text-decoration: none;
	    margin: 0px 5px;

		span {
			font-size: 16px;
			display: none;
			font-family: $mainFont;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
	}
}

.projects {
    display: flex!important;
    align-items: center;
    flex-wrap: nowrap;

	img {
		width: 100%;
		pointer-events: none;
	}
	.slick-next {
		z-index: 1000;
	    margin-left: -30px;
	    padding-right: 15px;
	    margin-top: 75px;
	}
	.slick-prev {
		z-index: 1000;
	    margin-right: -30px;
	    padding-left: 15px;
	    margin-top: 75px;
	}
	.slick-slide {
		height: initial;
	}
	.description {
	    padding: 15px;
	    text-align: center;
	    margin-bottom: -100px;
	    margin-top: 50px;

		@media screen and (max-width: 900px){
		    margin-top: 35px;
	    }

	    @media screen and (max-width: 575px){
		    margin-top: 25px;
	    }

	    h3 {
	    	letter-spacing: 1;
		    border-bottom: double 4px $lightColor;
		    display: inline-block;
		    padding-bottom: 5px;
	        font-family: $titleFont;
		    font-size: 22px;
		    color: $contrastColor;
	    }

	    p, a {
	    	color: $secondaryColor;
		    letter-spacing: 1;
		    font-family: $mainFont;
		    font-size: 13px;
		    text-transform: uppercase;
	    }


	    a {
	    	font-weight: 400;
	    	text-decoration: none;
    	    border-bottom: dotted 2px $lightColor;

    	    &:hover {
    	    	font-weight: bold;
    	    }
	    }
	}
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    .shadow {
		.slick-next, .slick-prev {
			z-index: 1000;
			display: inline-block!important;
			color: $contrastColor;
			padding-top: 15px;
			&:hover {
				color: darken($contrastColor, 25%);
			}
		}	
	}

	h2 {
		letter-spacing: 1;
	    border-bottom: double 4px $lightColor;
	    padding-bottom: 5px;
	    font-family: $titleFont;
	}
	.shadow {
	    height: 50px;
	    background: linear-gradient(to bottom, #9398a2 0%, rgba(255, 255, 255, 0) 100%);
	    flex-basis: 100%;
	    text-align: center;
	}
	.about, .contact {
		padding: 15px 30px;
		h2 {
			margin: 50px 0px;
		}
	}
	#skills {
		padding: 0px 30px;
	    display: flex;
	    align-items: center;
        flex-wrap: nowrap;
	    justify-content: center;

		@media screen and (max-width: 768px){

			padding: 0px 5px;
		    div {
	    		text-align: center;
	    		height: 130px;
	    	}
	    }

	    p {
	    	display: none;
	    	font-family: $mainFont;
	    	text-align: center;
	    	color: $mainColor;
	    	letter-spacing: 1;
	    	font-style: italic;
	    	text-transform: uppercase;
		    font-size: 13px;
		    padding-top: 10px;

		    @media screen and (max-width: 768px){
		    	display: block;
		    	font-size: 10px;
		    }
	    }
	}
	.skills {
		flex-basis: 100%;
		max-width: 100%;
		padding: 15px 0px;
		h2 {
		    margin: 50px 30px;
		}
		img {
		    filter: grayscale(100%);
		    opacity: .25;
		    max-height: 85px;
	        margin: 0 auto;
	        pointer-events: none;
	        @media screen and (max-width: 768px){
	        	padding: 10px;
	        }
	        @media screen and (max-width: 500px){
	        	max-height: 60px;
	        }
		}
		.slick-slide {
			height: initial;
			padding-bottom: 38px;
		}
	}
	.about, .contact {
		flex-grow: 1;
	}

	.about {
		p {
		    font-size: 15px;
		    text-align: center;
		    margin: 15px 0px;
		    text-transform: uppercase;

		    svg {
		    	color: #dcdcdc;
		    }
		}
	}
	.contact {
		form {
			text-align: center;
		}
		input, textarea {
		    font-size: 18px;
		    font-family: 'open sans';
		    padding: 5px;
	        margin-bottom: 10px;
            border: solid 1px #ccc;
            font-family: 'raleway';
		    font-size: 16px;
		    color: $mainColor;
		}
		.submit {
		    border-radius: 0px;
		    background: $lightColor;
		    border: none;
		    padding: 10px;
		    min-width: 150px;
		    color: $contrastColor;

		    &:hover {
		    	background: darken($lightColor, 5%);
		    	cursor: pointer;
		    }
		}
		::placeholder {
			color: lighten($mainColor, 25%);
			opacity: 1;
		}
		.small {
			width: 35%;
			@media screen and (max-width: 650px){
				width: calc(50% - 32.5px);
			}
			@media screen and (max-width: 400px){
				width: calc(100% - 30px);
			}
		}
		.large {
			width: 70.25%;
			@media screen and (max-width: 650px){
				width: calc(100% - 60px);
			}
			@media screen and (max-width: 400px){
				width: calc(100% - 30px);
			}
		}
	}
}
.slick-slider {
	button {
	    border: none;
	    background: transparent;
	    font-size: 32px;
	    color: #c1c1c1;
	    margin-bottom: 28px;
	    padding: 0px;
        font-family: "Palatino", cursive;

	    &:hover {
	    	color: darken(#c1c1c1, 25%);
	    	cursor: pointer;
	    }
	}
}

/*.slick-slider { display: table; table-layout: fixed; width: 100%; }*/


.desk {
	img {
		width: 100%;
	}
	@media screen and (max-width: 450px){
		overflow: hidden;
		img {
			width: 1000px;
		}
	}
}