@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
h1, h2, h3, h4, h5, h6, p {
  margin: 5px 0px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

h1 {
  font-family: "Satisfy", cursive;
  color: #353535;
  font-weight: 100;
  font-size: 34px;
}

h2 {
  text-align: center;
  font-family: "Satisfy", cursive;
  letter-spacing: 1;
  color: #353535;
  font-weight: 100;
}

h3, h4, h5, h6, p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

body {
  background: url("../img/wavy-dots.png");
  background-size: 200px;
  margin: 0px;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #e8faff 0%, #c1d9f1 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 50px;
}
@media screen and (max-width: 575px) {
  .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
}

.title__sub {
  letter-spacing: 1.2;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 3px;
  font-weight: 600;
  background: #ffffff;
  border: solid 1px #dedede;
  color: #6ea6de;
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  .title {
    width: 100%;
  }
}

.links {
  font-size: 24px;
  background: #ffffff;
  border: solid 1px #dedede;
  padding: 10px;
  border-radius: 50px;
}
@media screen and (max-width: 575px) {
  .links {
    width: 100%;
  }
}
.links__a {
  color: #6ea6de;
  text-decoration: none;
  margin: 0px 5px;
  -webkit-transition: color 0.75s;
  transition: color 0.75s;
}
.links__a:hover {
  color: #6ea6de;
}

@media screen and (min-width: 575px) {
  .hidden-large {
    display: none;
  }
}

.grid {
  display: grid;
  grid-gap: 50px;
  margin: 50px;
}
.grid--thirds {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media screen and (max-width: 475px) {
  .grid--thirds {
    margin: 15px;
    grid-template-columns: 1fr;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project {
  border: solid 1px #dedede;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 25px 0px #afc6da;
  box-shadow: 5px 5px 25px 0px #afc6da;
  background: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.project__img {
  width: 100%;
  border-bottom: solid 1px #dedede;
}
.project__heading {
  margin: 0px;
  padding: 15px 10px;
  text-align: center;
  color: #353535;
  letter-spacing: 1.5;
  font-family: "Satisfy", cursive;
}
.project__description {
  text-align: center;
  margin: 0px;
  padding: 5px 25px;
  color: #9398a2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: calc(100% - 72px);
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 400;
  font-size: 14px;
}
.project__buttons {
  padding: 15px 10px;
  margin-top: auto;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #6ea6de;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  border-radius: 1000px;
  font-size: 0.75em;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.button:hover {
  cursor: pointer;
  background: #448dd5;
}

.secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 15px 50px;
}
@media screen and (max-width: 950px) {
  .secondary {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 475px) {
  .secondary {
    grid-gap: 15px;
    margin: 15px;
  }
}
.secondary h2 {
  letter-spacing: 1;
  padding-bottom: 5px;
  font-family: "Satisfy", cursive;
  position: relative;
}
.secondary h2:after {
  content: "";
  width: 100%;
  border-bottom: solid 2px #6ea6de;
  border-top: solid 2px #6ea6de;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  border-radius: 100px;
}
.secondary .shadow {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9398a2), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #9398a2 0%, rgba(255, 255, 255, 0) 100%);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
}
.secondary .about h2, .secondary .contact h2 {
  margin: 50px 0px;
}
.secondary .about, .secondary .contact {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.secondary .about p {
  font-size: 15px;
  text-align: center;
  margin: 15px 0px;
  text-transform: uppercase;
  color: #353535;
}
.secondary .about p svg {
  color: #6ea6de;
}
.secondary .contact form {
  text-align: center;
}
.secondary .contact input, .secondary .contact textarea {
  font-size: 18px;
  font-family: "open sans";
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  font-family: "raleway";
  font-size: 16px;
  color: #9398a2;
}
.secondary .contact .submit {
  border-radius: 0px;
  background: #6ea6de;
  border: none;
  padding: 10px;
  min-width: 150px;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: background 0.75s;
  transition: background 0.75s;
}
.secondary .contact .submit:hover {
  background: #5999da;
  cursor: pointer;
}
.secondary .contact ::-webkit-input-placeholder {
  color: #dedede;
  opacity: 1;
}
.secondary .contact :-ms-input-placeholder {
  color: #dedede;
  opacity: 1;
}
.secondary .contact ::-ms-input-placeholder {
  color: #dedede;
  opacity: 1;
}
.secondary .contact ::placeholder {
  color: #dedede;
  opacity: 1;
}
.secondary .contact .small {
  width: 35%;
}
@media screen and (max-width: 650px) {
  .secondary .contact .small {
    width: calc(50% - 32.5px);
  }
}
@media screen and (max-width: 400px) {
  .secondary .contact .small {
    width: calc(100% - 30px);
  }
}
.secondary .contact .large {
  width: 70.25%;
}
@media screen and (max-width: 650px) {
  .secondary .contact .large {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 400px) {
  .secondary .contact .large {
    width: calc(100% - 30px);
  }
}

.desk img {
  width: 100%;
}
@media screen and (max-width: 450px) {
  .desk {
    overflow: hidden;
  }
  .desk img {
    width: 1000px;
  }
}

/*# sourceMappingURL=style.css.map */
