@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

//$titleFont: 'Cormorant Garamond', cursive;
$titleFont: 'Satisfy', cursive;
$mainFont: 'Raleway', sans-serif;
$mainColor: #9398a2;
$secondaryColor: #949494;
//$contrastColor: #939da2;
$contrastColor: #000000;
//$lightColor: gainsboro;
$lightColor: #bfd654;

h1, h2, h3, h4, h5, h6, p {
	margin: 5px 0px;
	color: $secondaryColor;
}
a:-webkit-any-link {
		text-decoration: none!important;
	}
h1 {
	font-family: $titleFont;
	color: $contrastColor;
	font-weight: 100;
	font-size: 34px;
}

h2 {
	text-align: center;
	font-family: $titleFont;
	letter-spacing: 1;
	color: $contrastColor;
	font-weight: 100;
}

h3, h4, h5, h6, p {
	font-family: $mainFont;
	font-weight: 600;
}

body {
	background: url('../img/wavy-dots.png');
	background-size: 200px;
	margin: 0px;
	overflow-x: hidden;
}

*:focus {
	outline: none;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 50px;

    @media screen and (max-width: 575px){
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    text-align: center;

	    .title, .links {
	    	width: 100%;
	    }
    }
}

.title {
	h4 {
		letter-spacing: 1.2;
		text-transform: uppercase;
		font-size: 12px;
		padding-top: 3px;
		font-weight: 600;
		background: $lightColor;
		color: $contrastColor;
		padding: 5px 10px;
		border-radius: 50px;
		text-align: center;
	}
}

.links {
	font-size: 24px;
	background: $lightColor;
  padding: 10px;
  border-radius: 50px;

	a {
		color: $contrastColor;
		text-decoration: none;
    margin: 0px 5px;
		-webkit-transition: color .75s;
		transition: color .75s;

		&:hover {
			color: darken($lightColor, 20%);
		}

		span {
			font-size: 16px;
			display: none;
			font-family: $mainFont;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
	}
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 50px;
	margin: 50px;

	@media screen and (max-width: 475px){
		margin: 15px;
		grid-template-columns: 1fr;
	}

	img {
		width: 100%;
	}
	div {
		border: solid 1px $contrastColor;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
    -webkit-box-shadow: 10px 10px 25px 0px #8e8e8e;
            box-shadow: 10px 10px 25px 0px #8e8e8e;

		&:hover {
			p {
		    height: calc(100% - 75px);
				padding: 10px;
			}
		}

		h3 {
			background: $contrastColor;
			margin: 0px;
			padding: 15px 10px;
			text-align: center;
			color: white;
			font-family: "Satisfy", cursive;
			letter-spacing: 1.5;
		}
		p {
			position: absolute;
			left: 50%;
			-webkit-transform: translate(-50%, 0%);
			        transform: translate(-50%, 0%);
			width: calc(100% - 18px);
			text-align: center;
			margin: 0px;
			padding: 0px 15px;
			color: white;
			font-style: italic;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-transition: all .5s ease;
			transition: all .5s ease;
			height: calc(100% - 72px);
			bottom: 0;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: end;
			    -ms-flex-align: end;
			        align-items: flex-end;
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(144, 144, 144, 0.25)), to(black));
			background-image: linear-gradient(rgba(144, 144, 144, 0.25), black);
			height: 0;
			overflow: hidden;
			text-transform: lowercase;
			font-weight: 400;
			font-size: 14px;
		}
		&#parks p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 163, 74, 0.7)), to(black));
			background-image: linear-gradient(rgba(217, 163, 74, 0.7), black);
		}
		&#ryp p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 184, 224, .7)), to(black));
			background-image: linear-gradient(rgba(72, 184, 224, .7), black);
		}
		&#baseball p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 52, 121, .7)), to(black));
			background-image: linear-gradient(rgba(0, 52, 121, .7), black);
		}
		&#oncell p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(89, 187, 138, .7)), to(black));
			background-image: linear-gradient(rgba(89, 187, 138, .7), black);
		}
		&#breathe p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(60%, 85%, 97%, .7)), to(black));
			background-image: linear-gradient(rgba(60%, 85%, 97%, .7), black);
		}
		&#dalton p {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 81, 119, .7)), to(black));
			background-image: linear-gradient(rgba(237, 81, 119, .7), black);
		}
	}
	.description {
	    padding: 15px;
	    text-align: center;
	    margin-bottom: -100px;
	    margin-top: 50px;

		@media screen and (max-width: 900px){
		    margin-top: 35px;
	    }

	    @media screen and (max-width: 575px){
		    margin-top: 25px;
	    }

	    h3 {
	    	letter-spacing: 1;
		    border-bottom: double 4px $lightColor;
		    display: inline-block;
		    padding-bottom: 5px;
	        font-family: $titleFont;
		    font-size: 22px;
		    color: $contrastColor;
	    }

	    p, a {
	    	color: $secondaryColor;
		    letter-spacing: 1;
		    font-family: $mainFont;
		    font-size: 13px;
		    text-transform: uppercase;
	    }


	    a {
	    	font-weight: 400;
	    	text-decoration: none;
    	    border-bottom: dotted 2px $lightColor;

    	    &:hover {
    	    	font-weight: bold;
    	    }
	    }
	}
}

.secondary {
    display: grid;
		grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
		margin: 15px 50px;

		@media screen and (max-width: 950px){
			grid-template-columns: 1fr;
		}
		@media screen and (max-width: 475px){
			grid-gap: 15px;
			margin: 15px;
		}
    .shadow {
		.slick-next, .slick-prev {
			z-index: 1000;
			display: inline-block!important;
			color: $contrastColor;
			padding-top: 15px;
			&:hover {
				color: darken($contrastColor, 25%);
			}
		}
	}

	h2 {
		letter-spacing: 1;
    padding-bottom: 5px;
    font-family: $titleFont;
		position: relative;

		&:after {
			content: '';
	    width: 100%;
	    border-bottom: solid 2px $lightColor;
	    border-top: solid 2px $lightColor;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    z-index: 1;
	    border-radius: 100px;
		}
	}
	.shadow {
	    height: 50px;
	    background: -webkit-gradient(linear, left top, left bottom, from(#9398a2), to(rgba(255, 255, 255, 0)));
	    background: linear-gradient(to bottom, #9398a2 0%, rgba(255, 255, 255, 0) 100%);
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;
	    text-align: center;
	}
	.about, .contact {
		h2 {
			margin: 50px 0px;
		}
	}
	#skills {
		padding: 0px 30px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;

		@media screen and (max-width: 768px){

			padding: 0px 5px;
		    div {
	    		text-align: center;
	    		height: 130px;
	    	}
	    }

	    p {
	    	display: none;
	    	font-family: $mainFont;
	    	text-align: center;
	    	color: $mainColor;
	    	letter-spacing: 1;
	    	font-style: italic;
	    	text-transform: uppercase;
		    font-size: 13px;
		    padding-top: 10px;

		    @media screen and (max-width: 768px){
		    	display: block;
		    	font-size: 10px;
		    }
	    }
	}
	.skills {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		padding: 15px 0px;
		h2 {
		    margin: 50px 30px;
		}
		img {
		    -webkit-filter: grayscale(100%);
		            filter: grayscale(100%);
		    opacity: .25;
		    max-height: 85px;
	        margin: 0 auto;
	        pointer-events: none;
	        @media screen and (max-width: 768px){
	        	padding: 10px;
	        }
	        @media screen and (max-width: 500px){
	        	max-height: 60px;
	        }
		}
		.slick-slide {
			height: initial;
			padding-bottom: 38px;
		}
	}
	.about, .contact {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}

	.about {
		p {
		    font-size: 15px;
		    text-align: center;
		    margin: 15px 0px;
		    text-transform: uppercase;
				color: $contrastColor;

		    svg {
		    	color: $lightColor;
		    }
		}
	}
	.contact {
		form {
			text-align: center;
		}
		input, textarea {
		    font-size: 18px;
		    font-family: 'open sans';
		    padding: 5px;
	        margin-bottom: 10px;
            border: solid 1px #ccc;
            font-family: 'raleway';
		    font-size: 16px;
		    color: $mainColor;
		}
		.submit {
		    border-radius: 0px;
		    background: $lightColor;
		    border: none;
		    padding: 10px;
		    min-width: 150px;
		    color: $contrastColor;
				border-radius: 50px;
				-webkit-transition: background .75s;
				transition: background .75s;

		    &:hover {
		    	background: darken($lightColor, 5%);
		    	cursor: pointer;
		    }
		}
		::-webkit-input-placeholder {
			color: lighten($mainColor, 25%);
			opacity: 1;
		}
		:-ms-input-placeholder {
			color: lighten($mainColor, 25%);
			opacity: 1;
		}
		::-ms-input-placeholder {
			color: lighten($mainColor, 25%);
			opacity: 1;
		}
		::placeholder {
			color: lighten($mainColor, 25%);
			opacity: 1;
		}
		.small {
			width: 35%;
			@media screen and (max-width: 650px){
				width: calc(50% - 32.5px);
			}
			@media screen and (max-width: 400px){
				width: calc(100% - 30px);
			}
		}
		.large {
			width: 70.25%;
			@media screen and (max-width: 650px){
				width: calc(100% - 60px);
			}
			@media screen and (max-width: 400px){
				width: calc(100% - 30px);
			}
		}
	}
}
.slick-slider {
	button {
	    border: none;
	    background: transparent;
	    font-size: 32px;
	    color: #c1c1c1;
	    margin-bottom: 28px;
	    padding: 0px;
        font-family: "Palatino", cursive;

	    &:hover {
	    	color: darken(#c1c1c1, 25%);
	    	cursor: pointer;
	    }
	}
}

/*.slick-slider { display: table; table-layout: fixed; width: 100%; }*/


.desk {
	img {
		width: 100%;
	}
	@media screen and (max-width: 450px){
		overflow: hidden;
		img {
			width: 1000px;
		}
	}
}
